@tailwind base;
@tailwind components;
@tailwind utilities;
@import "introduce";
:root {
  --header-height: 88px;
  --header-py: 16px;
}
body {
  @apply scroll-smooth bg-primary-black-background text-secondary-offWhite-white;
}

* {
  @apply font-overpass;
}
.title-xl {
  @apply text-4xl font-bold lg:text-5xl 3xl:text-[64px] 3xl:leading-[84px];
}
p {
  @apply lg:text-lg;
}
.title-block strong {
  @apply text-primary-blue-main;
}

// .history .swiper .swiper-slide-active  {
 
//           background: red;
   
// }
.history .swiper .swiper-wrapper {
  height: 350px;
}

.career .description strong {
  color:#F7CC5F;
  font-weight: 600;
}

.cards {
  .swiper-pagination {
    bottom: -40px !important; 
    .swiper-pagination-bullet {
      &.swiper-pagination-bullet-active {
        @apply bg-primary-blue-main;
      }
      @apply bg-slate-400;
    }
  }

}


.title-block {
  .title {

    &> * {
      
      @apply text-4xl xl:text-5xl xl:leading-[64px] 3xl:text-[64px] 3xl:leading-[84px];
    }
  }
}