@tailwind base;
@tailwind components;
@tailwind utilities;
@import "introduce";

:root {
  --header-height: 88px;
  --header-py: 16px;
}
body {
  @apply scroll-smooth bg-primary-black-background text-secondary-offWhite-white;
}

* {
  @apply font-overpass;
}
.title-xl {
  @apply text-4xl font-bold lg:text-5xl 3xl:text-[64px] 3xl:leading-[84px];
}
p {
  @apply lg:text-lg lg:leading-[25px];
}
.title-block strong {
  @apply text-primary-blue-main;
}

// .history .swiper .swiper-slide-active  {

//           background: red;

// }
.history .swiper .swiper-wrapper {
  @apply h-[80px] sm:h-[350px];
}

.career {
  .description {
    strong {
      color: #f7cc5f;
      font-weight: 700;
      font-size: 20px;
      margin-top: 24px;
      line-height: 32px;
      display: inline-block;
    }
    *:not(strong) {
      @apply font-normal xl:text-lg;
    }
  }
}

.cards {
  .swiper-wrapper {
    height: 480px;
    .swiper-slide {
      @apply h-[400px] xl:h-[460px];
    }
  }
  .swiper-pagination {
    bottom: -40px !important;
    .swiper-pagination-bullet {
      &.swiper-pagination-bullet-active {
        @apply bg-primary-blue-main;
      }
      @apply bg-slate-400;
    }
  }
}
.swiper-pagination {
  bottom: -30px !important;
  .swiper-pagination-bullet {
    &.swiper-pagination-bullet-active {
      @apply bg-primary-blue-main;
    }
    @apply bg-slate-400;
  }
}
.image-slide {
  .swiper {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
    .swiper-slide {
      width: auto !important;
      display: inline-block;
      min-width: 200px;
      min-height: 300px;
    }
  }
}
.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.careers {
  * {
    @apply mb-10;
  }
  a {
    @apply text-primary-blue-main underline;
  }
  .no-job {
    h2,
    h3,
    h4,
    strong {
      @apply mb-10 inline-block text-4xl xl:text-5xl;
    }

    p {
      @apply text-lg;
    }
  }
}

footer {
  .footer-text {
    @for $i from 0 through 100 {
      &.scroll-#{$i} {
        strong {
          background: linear-gradient(
            to right,
            #009ee0 #{$i * 1%},
            #fff #{($i + 1) * 1%}
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    strong {
      position: relative;
      display: inline-block;

      color: white;

      text-align: center;
      background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // background: ;

      &.active {
        strong {
          position: relative;
          display: inline-block;

          color: white;
          font-size: clamp(2.5rem, 8vw, 6rem);
          text-align: center;
          background: #009ee0;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          animation: 1.5s ease-in runningColor;
          // animation-delay: 0.3s;
        }
      }
    }
  }
}
