@tailwind base;
@tailwind components;
@tailwind utilities;
@import "introduce";
@import "richtext";
@import "cookie";
:root {
  --header-height: 88px;
  --header-py: 16px;
}
body {
  @apply scroll-smooth bg-primary-black-background text-secondary-offWhite-white;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  @apply font-overpass;
}
.title-xl {
  @apply text-4xl font-bold lg:text-5xl 3xl:text-[64px] 3xl:leading-[84px];
}
p {
  @apply lg:text-lg lg:leading-[25px];
}
.title-block strong {
  @apply text-primary-blue-main;
}

// .history .swiper .swiper-slide-active  {

//           background: red;

// }
.history .swiper .swiper-wrapper {
  @apply h-[80px] md:h-[383px];
}

.career {
  .description {
    strong {
      color: #f7cc5f;
      font-weight: 700;
      font-size: 20px;
      margin-top: 24px;
      line-height: 32px;
      display: inline-block;
    }
    *:not(strong) {
      @apply font-normal xl:text-lg;
    }
  }
}

.cards {
  .swiper-wrapper {
    height: 480px;
    .swiper-slide {
      @apply h-[400px] xl:h-[460px];
    }
  }
  .swiper-pagination {
    bottom: -40px !important;
    .swiper-pagination-bullet {
      &.swiper-pagination-bullet-active {
        @apply bg-primary-blue-main;
      }
      @apply bg-slate-400;
    }
  }
}
.swiper-pagination {
  bottom: -30px !important;
  .swiper-pagination-bullet {
    &.swiper-pagination-bullet-active {
      @apply bg-primary-blue-main;
    }
    @apply bg-slate-400;
  }
}
.image-slide {
  .swiper {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
    .swiper-slide {
      width: auto !important;
      display: inline-block;
      min-width: 200px;
      min-height: 300px;
    }
  }
}
.parallax {
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-size: cover;
}

.object-cover-photo {
  width: 100% !important;
  min-height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
}

.careers {
  * {
    @apply mb-10;
  }
  a {
    @apply text-primary-blue-main underline;
  }
  .no-job {
    h2,
    h3,
    h4,
    strong {
      @apply mb-10 inline-block text-4xl xl:text-5xl;
    }

    p {
      @apply text-lg;
    }
  }
}
.rich-text {
  h2,
  strong,
  h3,
  h4 {
    @apply mb-4 inline-block text-[34px] font-bold leading-[1.175];
  }
  h3,
  h4,
  h5 {
    @apply text-primary-blue-main;
  }
  strong {
    @apply min-max-[20_26];
  }
}
.scroll-title {
  @for $i from 0 through 100 {
    &.scroll-#{$i} {
      strong {
        background: linear-gradient(
          to right,
          #009ee0 #{$i * 1%},
          #fff #{($i + 1) * 1%}
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  footer {
    strong {
      position: relative;
      display: inline-block;

      color: white;

      text-align: center;
      background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // background: ;

      &.active {
        strong {
          position: relative;
          display: inline-block;

          color: white;
          font-size: clamp(2.5rem, 8vw, 6rem);
          text-align: center;
          background: #009ee0;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          animation: 1.5s ease-in runningColor;
          // animation-delay: 0.3s;
        }
      }
    }
  }
}
//cookie 

.freeprivacypolicy-com---nb-interstitial-overlay {
  width: 0 !important;
  height: 0 !important;
  background: none !important;
}
.freeprivacypolicy-com---palette-dark.freeprivacypolicy-com---nb {
  background-color: #0f1424 !important;
}
.freeprivacypolicy-com---nb-interstitial-overlay:last-of-type #freeprivacypolicy-com---nb{
  display: none;
}
#freeprivacypolicy-com---nb{
  top: auto;
  bottom: 3vh;
}
.freeprivacypolicy-com---palette-dark .cc-nb-okagree {
  color: #FFF !important;
  background-color: #009ee0 !important;
}
.freeprivacypolicy-com---palette-dark .cc-nb-reject {
  color: #FFF !important;
  background-color: #009ee0 !important;
}