@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --header-height: 88px;
  --header-py: 16px;
}
body {
  @apply scroll-smooth bg-primary-black-background text-secondary-offWhite-white;
}

* {
  @apply font-overpass;
}
.title-xl {
  @apply text-4xl font-bold lg:text-5xl 3xl:text-[64px] 3xl:leading-[84px];
}

.title-block strong {
  @apply text-primary-blue-main;
}

.history .swiper .swiper-slide-active  {
 
          background: red;
   
}
.history .swiper .swiper-wrapper {
  height: 350px;
}